html, body {
    background-image: url(./assets/overall.svg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    margin-top: 10px;
    background-image: url(./assets/Background.svg);
    background-size: cover;
}

header h1 {
    margin-left: 40px;
    padding-top: 20px;
}

nav {
    padding-top: 10px;
    margin-left: 800px;
}