#tradelist {
    margin-top: 3%;
    padding: 3%;
    color: white;
}

#traderow {
    margin-bottom: 1%;
    border-style: solid;
    padding-top: 1%;
    padding-bottom: 1%;
}

.reasonfont {
    padding-left: 3%;
    font-size: 20px;
    padding-top: 1%;
}

.infofont {
    padding-left: 10%;
    width:100%;
    margin-top: 10px;
    font-size: 20px;
}

#button {
    margin-top: 7.5%;
    margin-left: 20%;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 15px;
    font-weight: bolder;
    text-align: end;
    background-color: rgb(212, 17, 17);
    color: black;
    border-color: rgb(212, 17, 17);
}

.dates {
    padding-top: 9px;
    text-align: end;
}


#addtrade {
    text-align: center;
    color: white;
}

#addtrade:hover {
    color: gold;
    text-decoration: none;
}

.addtrade {
    margin-top: 20%;
}