#tradelist {
    margin-top: 70px;
    color: white;
}

#addtrade {
    text-align: center;
    color: white;
}

#addtrade:hover {
    color: gold;
    text-decoration: none;
}

.addtrade {
    margin-top: 20%;
}